ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: rgb(32, 253, 3);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
	}
	p{
		background-color: rgb(255, 4, 4);
		border-top: 1px solid rgb(255, 1, 1);
		text-align:center;
		padding:20px;
		position: relative;
		left: 0;
		bottom: 0;
		height: 30px;
		width: 100%;
	}
	input[type=text], select {
		width: 20%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid rgb(32, 253, 3);
		border-radius: 4px;
		box-sizing: border-box;
	}
	div {
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 20px;
	}
	#oculto, #oculto1, #oculto2, #oculto3, #oculto4, #oculto5{
		margin-top: 5px;
		width: 200px;
		text-align: center;
		color: red;
		position: relative;
		background: #ffffff;
		border: 4px solid #f5f5f5;
	box-shadow: -1px 10px 15px -11px rgba(0,0,0,0.75);
	}
	#oculto:after, #oculto:before, #oculto1:after, #oculto1:before, #oculto2:after, #oculto2:before, #oculto3:after, #oculto3:before, #oculto4:after, #oculto4:before, #oculto5:after, #oculto5:before {
		bottom: 100%;
		left: 20px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: -10px;
		position: absolute;
		pointer-events: none;
	}
	#oculto:after, #oculto1:after, #oculto2:after, #oculto3:after, #oculto4:after, #oculto5:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #ffffff;
		border-width: 10px;
		margin-left: -10px;
	}
	#oculto:before, #oculto1:before, #oculto2:before, #oculto3:before, #oculto4:before, #oculto5:before {
		border-color: rgba(245, 245, 245, 0);
		border-bottom-color: #f5f5f5;
		border-width: 16px;
		margin-left: -16px;
	}